@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    
</hgroup>

<article>
    <p>
        A Whiteboard,  you can share with others instantly and they will be able to watch you draw. This tool is to show the capabilites of HTML 5 and SignalR.
    </p>
</article>

